beautifulsoup4 
bs4 
certifi 
charset-normalizer 
colorama 
contourpy 
cycler 
et-xmlfile 
fonttools 
idna 
kiwisolver 
loguru 
matplotlib 
networkx 
numpy 
openpyxl 
packaging 
pandas 
pillow 
pyaes 
pyasn1 
pyparsing 
python-dateuti 
python-louvain 
pytz 
requests 
rsa 
six 
soupsieve 
Telethon 
tqdm 
tzdata 
urllib3 
win32-setctime 